body {
    /* background-color: plum; */
    display: flex;
    height: 100vh;
    column-gap: 2px;
    /* justify-content: 2px; */
    align-items: flex-end;
}

html,
body {
    margin: 0;
    padding: 0;
}

.animated-background{
    /* sfondo animato con i colori gradienti */
    position: absolute;
    /* position: absolute in CSS è una proprietà che rimuove un elemento dal normale flusso del documento e lo posiziona in base al suo parente posizionato (relative) più vicino.
    Se non ci sono antenati posizionati, l'elemento viene posizionato rispetto all'elemento <body>o la finestra del browser.  */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(270deg, #ff9a9e, #7666b8, #b6aae4, #ff9a9e);
    /* background: linear-gradient significa definire lo sfondo di un elemento HTML come una sfumatura di colore che cambia gradualmente lungo una linea retta */
    background-size: 600% 600%;
    /* Quando si usa background-size con due valori, si definiscono la larghezza e l'altezza dell'immagine di sfondo, in quest'ordine. I valori possono essere espressi in unità di misura fisse come i pixel (\(200px~150px\)), percentuali (\(50\%~50\%\)), o anche auto, che ripristina la dimensione originale dell'immagine.  */

    animation-name: gradient; 
    animation-duration: 16s;  
    animation-timing-function: ease;
    animation-play-state: running;
    animation-iteration-count: infinite;
}

@keyframes gradient{
    0%{background-position: 0% 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0% 50%;}

}


.box {
    display: flex;
    flex-direction: column;
    height: 10vw;
    flex-grow: 1;
    background-color: white;


    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}


@keyframes color-red {
    0% {
        transform: translate(0px, 0vh) rotate(0deg) scale(1);
        background-color: #493240;

    }

    100% {
        transform: translate(0px, -100vh) rotate(360deg) scale(0.1);
        background-color: #FF0099;

    }



}

@keyframes color-orange {

    0% {
        transform: translate(0px, -100vh) rotate(360deg) scale(0.1);
        background-color: #0099F7;

    }

    100% {
        transform: translate(0px, 0vh) rotate (0deg) scale(1);
        background-color: #F11712;

    }

}

@keyframes color-yellow {

    0% {
        transform: translate(0px, 0vh) rotate(0deg) scale(1);
        background-color: #00bf8f;

    }

    100% {
        transform: translate(0px, -75vh) rotate(180deg)  scale(0.1);
        background-color: #001510;

    }

}

@keyframes color-green {

    0% {
        transform: translate(0px, 0vh) rotate(180deg) scale(0.1);
        background-color: #283E51;

    }

    100% {
        transform: translate(0px, -75vh) rotate(0deg) scale(1);
        background-color: #4B79A1;

    }

}


@keyframes color-blue {

    0% {
        transform: translate(0px, 0vh) scale(1);
        background-color: #6D6027;

    }

    100% {
        transform: translate(0px, -100vh) scale(0.1);
        background-color: #fc4a1a;
    }

}


@keyframes color-purple {

    0% {
        transform: translate(0px, 0vh) scale(1);
        background-color: #fc4a1a

    }

    100% {
        transform: translate(0px, -100vh) scale(0.1);
        background-color:  #6D6027;

    }

}

@keyframes color-turquoise {

    0% {
        transform: translate(0px, 0vh) rotate(180deg) scale(0.1);
        background-color: #5e98a7;

    }

    100% {
        transform: translate(0px, -75vh) rotate(0deg) scale(1);
        background-color: #274046;

    }

}


@keyframes color-gold {

    0% {
        transform: translate(0px, 0vh) rotate(0deg) scale(1);
        background-color: #093028;

    }

    100% {
        transform: translate(0px, -75vh) rotate(180deg) scale(0.1);
        background-color: #237A57;

    }

}

@keyframes color-olive {

    0% {
        transform: translate(0px, -100vh) rotate(360deg) scale(0.1);
        background-color: #F11712;

    }

    100% {
        transform: translate(0px, 0vh) rotate (0deg) scale(1);
        background-color: #0099F7;

    }

}

@keyframes color-steelblue {

    0% {
        transform: translate(0px, 0vh) rotate(0deg) scale(1);
        background-color: #ff00cc;

    }

    100% {
        transform: translate(0px, -100vh) rotate(360deg) scale(0.1);
        background-color: #7303c0;

    }

}

.delay1 {
    animation-delay: 0.2s;
    animation-name: color-red;
}

.delay2 {
    animation-delay: 0.3s;
    animation-name: color-orange;
}

.delay3 {
    animation-delay: 0.4s;
    animation-name: color-yellow;
}

.delay4 {
    animation-delay: 0.5s;
    animation-name: color-green;
}

.delay5 {
    animation-delay: 0.6s;
    animation-name: color-blue;
}

.delay6 {
    animation-delay: 0.7s;
    animation-name: color-purple;
}

.delay7 {
    animation-delay: 0.8s;
    animation-name: color-turquoise;
}

.delay8 {
    animation-delay: 0.4s;
    animation-name: color-gold;
}

.delay9 {
    /* animation-delay: 1.0s; */
    animation-delay: 0.3s;
    animation-name: color-olive;
}

.delay10 {
    /* animation-delay: 1.1s; */
    animation-delay: 0.2s;
    animation-name: color-steelblue;
}